// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  min-height: 75rem;
}

.container {
  padding-top: 5rem;
}

#flash_notice {
  @extend .alert;
  @extend .alert-success;
}

#flash_error, #flash_alert {
  @extend .alert;
  @extend .alert-danger;
}

#flash_warning {
  @extend .alert;
  @extend .alert-warning;
}

a.btn:hover {
   -webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   -o-transform: scale(1.1);
 }
 a.btn {
   -webkit-transform: scale(0.8);
   -moz-transform: scale(0.8);
   -o-transform: scale(0.8);
   -webkit-transition-duration: 0.5s;
   -moz-transition-duration: 0.5s;
   -o-transition-duration: 0.5s;
 }
